.game-container
{
    background: #3b2d3b;
}


.game-container .table
{
    fill: #080;
}

.game-container .seat
{
    fill: #aaa;
    stroke: #ccc;
    stroke-width: 5px;
}


.game-container .seat.current
{
    stroke: #000;
}

.game-container .seat.empty
{
    opacity: 0.6;
}

